.panel {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10%;

    background-color: rgba(64, 64, 64, 0.3);

    border-style: solid;
    border-radius: 30px;
    border-color: rgba(41, 41, 41, 0.3);
}

.panel > div {

    margin: 1%;
}

.labels {

    display: flex;
}

.labels > p {

    margin: 20px
}

.buttons {

    display: flex;
}

.buttons > button {

    margin: 10px;
}

button {

    width: 40px;
    cursor: pointer;
}

@media( max-width: 530px ) {

    .panel {

        margin: 0;
    }
}